<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alhuin.random-usernames</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>02FCBE73-F980-4533-9916-40E6A6AB72CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A91C42C6-6608-478F-B5DE-903E06B3B3C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6BA67D0-DC33-498E-932A-A5B3A1CE4DAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5CBC7DD-1A0A-4B9D-8BEF-CB9DE7C6DDC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A91C42C6-6608-478F-B5DE-903E06B3B3C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5CBC7DD-1A0A-4B9D-8BEF-CB9DE7C6DDC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5C0620E-F477-4488-92AB-A59384FF101C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FBEF267F-E0DC-44CF-9CB3-FCFE4D7EBFDD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC8C69F6-E79B-4D2C-9231-FCC5D7F095FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>02FCBE73-F980-4533-9916-40E6A6AB72CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5CBC7DD-1A0A-4B9D-8BEF-CB9DE7C6DDC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>683FD01D-4DE0-4F6B-83EC-6C75567D9AC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A561623-5E65-45CD-9ABC-6DAC81848D23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alhuin</string>
	<key>description</key>
	<string>Random Usernames to your Clipboard !</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Random Usernames</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>683FD01D-4DE0-4F6B-83EC-6C75567D9AC2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>usergen</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 script_filter.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Random Usernames</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A6BA67D0-DC33-498E-932A-A5B3A1CE4DAB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D5CBC7DD-1A0A-4B9D-8BEF-CB9DE7C6DDC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>The username has been copied to the clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5A561623-5E65-45CD-9ABC-6DAC81848D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CC8C69F6-E79B-4D2C-9231-FCC5D7F095FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 script_hotkey.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>02FCBE73-F980-4533-9916-40E6A6AB72CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>ConfigurationException.*</string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>FBEF267F-E0DC-44CF-9CB3-FCFE4D7EBFDD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A91C42C6-6608-478F-B5DE-903E06B3B3C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>There is an error in your configuration</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A5C0620E-F477-4488-92AB-A59384FF101C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Random Usernames to yout Clipboard!
![Worflow](/images/preview.png)

### Configuration
- Number of generated usernames
- Number suffix max value: The maximum number in the suffix
- Choice to add a number suffix
- Custom adjectives dictionary: Provide your own adjectives dictionnary
- Choice to capitalize adjectives
- Custom adjectives dictionary: Provide your own nouns dictionnary
- Choice to capitalize nouns

### Usage
- Alfred HotKey &gt; `usergen` &gt; select a username &gt; the username is copied
- HotKey ⌘⇧U &gt; a random username is copied</string>
	<key>uidata</key>
	<dict>
		<key>02FCBE73-F980-4533-9916-40E6A6AB72CF</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>5A561623-5E65-45CD-9ABC-6DAC81848D23</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>683FD01D-4DE0-4F6B-83EC-6C75567D9AC2</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>A5C0620E-F477-4488-92AB-A59384FF101C</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>A6BA67D0-DC33-498E-932A-A5B3A1CE4DAB</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>A91C42C6-6608-478F-B5DE-903E06B3B3C9</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>CC8C69F6-E79B-4D2C-9231-FCC5D7F095FF</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>D5CBC7DD-1A0A-4B9D-8BEF-CB9DE7C6DDC6</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>5</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Positive integer.</string>
			<key>label</key>
			<string>Number of generated usernames</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>number_usernames</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>5000</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Positive integer.</string>
			<key>label</key>
			<string>Number suffix max value</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>number_suffix_range</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Add a number suffix</string>
			</dict>
			<key>description</key>
			<string>Add a number suffix to the usernames. If enabled, the `Number suffix max value` will not be considered.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>number_suffix</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>data/adjectives.txt</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>.txt file, one etry per line.</string>
			<key>label</key>
			<string>Custom adjectives dictionary</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>adjectives_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Capitalize adjectives</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>capitalize_adjectives</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>data/nouns.txt</string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>.txt file, one entry per line.</string>
			<key>label</key>
			<string>Custom nouns dictionary</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>nouns_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Capitalize nouns</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>capitalize_nouns</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/Alhuin/alfred-random-usernames</string>
</dict>
</plist>
